<html>

<head>
  <title>Angular Cv</title>
</head>
<style>
   table {
    border: 30px solid rgb(250, 182, 173);
    background-color: whitesmoke;
    align-self: center
  }

  th,
  td {
    padding: 5px;
    text-align: middle;
    margin: 0 auto;
    border: 100px;

  }

  table {
    border-spacing: 8px;

  }

  table {
    align-self: center
  }

  .container{
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    margin-left: 30%;
    margin-right: 30%;
  }
</style> 

<body> 
<div class="container">
    <table style="width:100%; height: 100vh;">

        <tr>
          
          <td colspan="2">
            <img src="../assets/celine cv picture.jpg" alt="celine cv picture" width="25%; height=30%">
    
          </td>
          <td>
            <h1>Celine<br>Johnson</h1>
            <h3>IT Technician</h3>
    
            <a routerLink="/contact-page">Contact me for further details</a>
          </td>
          <td>
            <ul>
              <img src="../assets/Email Icon" width="8%; height=8%">&nbsp;&nbsp;johnsonceline670@gmail.com<br>
              <img src="../assets/Telephone Icon" width="8%; height=8%">&nbsp;&nbsp;061 356 1692<br>
              <img src="../assets/Location Icon" width="8%; height=8%">&nbsp;&nbsp;234 5th Avenue, Mid-Ennerdale,JHB<br>
    
            </ul>
          </td>
    
        </tr>
    
        <tr>
          <td colspan="2">
            <h2 style="border: 1px solid black">PROFILE</h2>
            <p>I am a young individual. Who is very passionate about Information Technology, and everything that it has to
              offer.<br>
              I studied IT for one year.As a previous adept Office Manager, I have a well-rounded background in
              organizational skills
              and refined talents in customer service skills and time management skills. <br>
              Additionally, I have a little leadership
              experience. My previous roles have strengthened my abilities in interpersonal and customer
              service, including a focused attention to detail and accuracy.</p>
          </td>
    
          <td colspan="2">
            <h2 style="border: 1px solid black" width="">OBJECTIVE</h2>
            <p>To secure a challenging position in a reputable organization to expand my learning, knowledge, and skills.
              Secure a responsible career opportunity to fully utilize my training and skills, while making a significant
              contribution to the success of the company.
            </p>
    
          </td>
        </tr>
    
        <tr>
    
          <td colspan="2">
            <h2 style="border: 1px solid black">EDUCATION</h2><br>
    
            <b>NQF 4 CERTIFICATE | 2016-2017</b> <br>
            Falcon business Institute, Johannesburg <br>
    
    
            <br><b>CERTIFICATE | 2015</b> <br>
            Don Bosco Educational Projects, Johannesburg
            <br>
    
    
            <br><b>MATRIC CERTIFICATE | 2010-2014</b><br>
            Fred Norman Secondary School, Johannesburg
            <br>
          </td>
    
          <td colspan="2">
            <h2 style="border: 1px solid black">SKILLS</h2>
            <ul>
              <li>Organised</li><br>
              <li>MS Office Profecient</li><br>
              <li>Good Communication Skills</li><br>
              <li>Hardworking</li><br>
    
    
            </ul>
          </td>
        </tr>
    
        <tr>
          <td colspan="2">
            <b><h2 style="border: 1px solid black">HOBBIES</h2></b>
            <img src="../assets/reading-filled.png" width="10%; height=4%"><p>Reading</p> <img src="../assets/headphones-filled.png"
              width="10%; height=4%"><p>Music</p>
            <img src="../assets/treadmill-filled.png" width="10%; height=4%"><p>Gyming</p><img src="../assets/tv-filled.png"
              width="10%; height=4%"><p>Movies</p>
    
    
    
    
    
    
    
    
          </td>
          <td colspan="2">
            <h2 style="border: 1px solid black">EXPERIENCE</h2>
    
            <ul>
              <li>2017-2018 &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Office
                  Manager</b><br> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
              <li>2016-2017 &nbsp; &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Technical Support
                  Technician</b><br> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    
            </ul>
          </td>
          <td></td>
        </tr>
      </table>
    
</div>
  
 

</body> 

</html>


<router-outlet></router-outlet>


